.latestmovies {
  padding-top: 80px;
}

.movies--1 {
  background: url("./../images/movies/theatre-dead.jpg") center/cover no-repeat;
}
.movies--2 {
  background: url("./../images/movies/transformer.jpg") center/cover no-repeat;
}
.movies--3 {
  background: url("./../images/movies/resident-evil.jpg") center/cover no-repeat;
}
.movies--4 {
  background: url("./../images/movies/captain-marvel.png") center/cover no-repeat;
}
.movies--5 {
  background: url("./../images/movies/hunter-killer.jpg") center/cover no-repeat;
}
.movies--6 {
  background: url("./../images/movies/blood-shot.jpg") center/cover no-repeat;
}
.movies--7 {
  background: url("./../images/movies/call.jpg") center/cover no-repeat;
}

