.series {
  padding-top: 80px;
  padding-bottom: 80px;
}

.series--1 {
  background: url("./../images/supergirl.jpg") center/cover no-repeat;
}
.series--2 {
  background: url("./../images/series/stranger-thing.jpg") center/cover no-repeat;
}
.series--3 {
  background: url("./../images/series/star-trek.jpg") center/cover no-repeat;
}
.series--4 {
  background: url("./../images/series/penthouses.jpg") center/cover no-repeat;
}
.series--5 {
  background: url("./../images/series/mandalorian.jpg") center/cover no-repeat;
}
.series--6 {
  background: url("./../images/series/the-falcon.webp") center/cover no-repeat;
}
.series--7 {
  background: url("./../images/wanda.png") center/cover no-repeat;
}